<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content},~{::title},~{::script})}">
    <title data-th-text="${loggedinuser.name} +' Dashboard' ">Dashboard page</title>
<body>

    <div id="content">

    <!--logged in user sidebar-->
     <div th:if="${loggedinuser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

    <div class="sm:pl-68 pt-20 " style="height: 1000px;">
            <h1 class="text-5xl">WELCOME <br> <span  data-th-text="${loggedinuser.email}"></span> </h1>
            <h1>User is logged in to Dashboard page </h1>
    </div>
    </div>

    <script>
        console.log("profile page")
    </script>
    
</body>
</html>